.outside-container, .inside-container {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Space Mono', monospace;
}

.outside-container {
  background-image: url("../assets/images/background.png");
  padding-top: 7%;
  padding-bottom: 7%;
}

.inside-container {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}
