.outside-container, .inside-container {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Space Mono', monospace;
  text-align: center;
}

.outside-container {
  background-image: url("../assets/images/background.jpg");
  padding: 80px 40px 80px 40px;
}

.inside-container {
  background-color: white;
}
