.message-container {
  height:100%;
}

.header-message {
  font-size: 40px;
}

:host ::ng-deep .email-submit-unsuccessful {
  color: red;
}

.email-input, .email-submit-button {
  width: 100%;
}

input {
  box-sizing:border-box;
  padding-left: 10px;
}

.email-input {
  height: 3.4em;
  font-size: 22px;
  border-radius: 1px;
}

.email-submit-button {
  border: 3px solid orangered;
  border-radius: 5px;
  background-color: white;
  color: orangered;
  font-size: 30px;
  letter-spacing: 0.1em;
  box-sizing: border-box;
}

.email-submit-button:hover {
  background-color: orangered;
  color: white;
}

.line{
  width: 100px;
  height: 5px;
  border: 1px solid orangered;
  background: orangered;
}

@media (max-width: 500px) {
  .header-message {
    font-size: 23px;
  }
  .email-input {
    font-size: 17px;
    border-radius: 1px;
  }
  :host /deep/ p {
    font-size: 17px;
  }
}

@media (max-width: 700px) {
  .header-message {
    font-size: 33px;
  }
  .email-input {
    font-size: 20px;
    border-radius: 1px;
  }
  :host /deep/ p {
    font-size: 20px;
  }
}

@media (min-width: 701px) and (max-width:903px) {
  .header-message {
    font-size: 35px;
  }
  .email-input {
    font-size: 21.5px;
    border-radius: 1px;
  }
  :host /deep/ p {
    font-size: 21.5px;
  }
}
