.header-message {
  font-size: 40px;
}

:host ::ng-deep .email-submit-unsuccessful {
  color: red;
}

.email-form {
  margin: auto;
  display: table;
}

.email-input, .email-submit-button {
  width: 100%;
}

.email-submit-button {
  border: 3px solid orangered;
  background-color: white;
  color: orangered;
}

.email-submit-button:hover {
  background-color: orangered;
  color: white;
}
