<div class="message-container">
  <p class="title-message header-message" [innerHTML]="'titleMessage' | translate"></p>
  <br>
  <div class="line"></div>
  <br>
  <div [innerHTML]="messageToUser" class="message-to-user"></div>
  <form>
    <input class="email-input"
           type="email"
           #emailInput
           name="email"
           placeholder="you@example.com">
    <br>
    <br>
    <re-captcha class="g-recaptcha"
              (resolved)="resolved($event)"
              siteKey={{captchaSiteKey}}>
    </re-captcha>

    <br>
    <button class="email-submit-button btn-lg"
            (click)="submitEmail(emailInput.value)">
            <strong>REQUEST</strong>
    </button>
  </form>
</div>
